.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.input-container {
  margin: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
  width: 300px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
}

.tasks-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.tasks, .completed-tasks {
  width: 45%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  margin-left: 10px;
}
